[tool.pytest.ini_options]
testpaths = ["tests"]
asyncio_mode = "auto"

[tool.coverage.run]
source = ["custom_components/urbanhello_remi_unofficial"]
omit = ["tests/*"]

[tool.coverage.report]
show_missing = true
fail_under = 70
